/* Write your CSS here */

.app-container {
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 70%;
  max-width: 1140px;
}

.comment-head {
  color: #1e293b;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 700;
}

.form-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.say-some-para {
  color: #475569;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-input {
  color: #1e293b;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  height: 25px;
  padding: 10px;
  border: 1px solid #64748b;
  margin-bottom: 10px;
  outline: none;
}

.comment-input {
  color: #1e293b;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #64748b;
  margin-bottom: 5px;
  outline: none;
}

.add-button {
  background-color: #0284c7;
  border-radius: 2px;
  width: 35%;
  color: #ffffff;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 300;
  padding: 5px;
  height: 28px;
  cursor: pointer;
  outline: none;
}

.comments-img {
  width: 45%;
}

.break-line {
  color: #94a3b8;
  background-color: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.comments-count-text {
  color: #7e858e;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
}
.comment-counts {
  background-color: #0284c7;
  padding: 2px;
  color: #ffffff;
  font-size: 12px;
  border-radius: 2px;
}

.comment-list-container {
  list-style-type: none;
}
